.hero .hero-wrapper {
    @apply bg-cyans flex flex-col justify-center items-center p-20;
}

.hero .hero-wrapper .foto {
    @apply bg-cover bg-center bg-no-repeat w-72 h-72 rounded-full;
}

.hero .hero-wrapper .hero-text {
    @apply text-5xl mt-5 font-semibold text-light;
}

.hero .hero-wrapper .garis1 {
    @apply w-72 h-1.5 mt-5 bg-light;
}

.hero .hero-wrapper .garis2 {
    @apply w-1.5 h-1.5 bg-light;
}

.hero .hero-wrapper .garis3 {
    @apply w-72 h-1.5 mt-5 bg-light;
}