.resume {
    @apply bg-cyans flex flex-col justify-center items-center text-light p-10;
}

.resume .title {
    @apply text-4xl font-semibold;
}

.resume .garis {
    @apply w-72 h-1.5 mt-5 bg-light;
}

.resume .resume-wrapper {
    @apply p-10 flex text-light;
}

.resume .resume-wrapper h1 {
    @apply text-2xl font-semibold mb-2 text-center;
}

.resume .resume-wrapper .graduation {
    @apply flex-1 p-5;
}

.resume .resume-wrapper .experience {
    @apply flex-1 p-5;
}