.header {
    @apply bg-dark p-5;
}

.header-wrapper {
    @apply flex py-4 px-14 w-full justify-between space-x-4 text-3xl font-semibold text-light;
}

.header .header-wrapper .header-link {
    @apply flex space-x-4 cursor-pointer text-xl;
}